@font-face {
  font-family: "fusion-pixel-8-monospaced";
  src: url("fonts/fusion-pixel-8px-monospaced.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "fusion-pixel-8-proportional";
  src: url("fonts/fusion-pixel-8px-proportional.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "fusion-pixel-10-monospaced";
  src: url("fonts/fusion-pixel-10px-monospaced.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "fusion-pixel-10-proportional";
  src: url("fonts/fusion-pixel-10px-proportional.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "fusion-pixel-12-monospaced";
  src: url("fonts/fusion-pixel-12px-monospaced.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "fusion-pixel-12-proportional";
  src: url("fonts/fusion-pixel-12px-proportional.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font: "fusion-pixel-12-monospaced", monospace;

  --color-background-0: #01051b;
  --color-background-1: #060f24;
  --color-background-2: #0e1b35;

  --color-border: rgba(54, 72, 116, 1);

  --color-content-0: #a0afc0;
  --color-content-1: rgba(120, 144, 195, 1);
  --color-content-2: #dee0ed;

  --color-accent-0: rgba(9, 50, 97, 1);
  --color-accent-1: rgba(21, 151, 242, 1);

  --color-danger: #ff2244;

  --radius-0: 0px;
  --radius-1: 4px;

  --width-border: 1px;

  --spacing-0: 0px;
  --spacing-1: 4px;

  --opacity-disabled: 0.4;

  --filter-hover: brightness(1.15);

  --font-size-0: 0.5rem;
  --font-size-1: 0.6rem;
  --font-size-2: 0.7rem;
  --font-size-3: 0.75rem;
  --font-size-4: 1rem;
  --font-size-5: 1.15rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  height: 100%;
}

body {
  font-family: var(--font);
  color: var(--color-content-0);
  background: var(--color-background-0);
  line-height: 1.4;
  width: 100%;
  max-width: 100%;
  height: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button,
select,
code {
  font-family: inherit;
}

button:hover {
  filter: var(--filter-hover);
}

button:disabled {
  opacity: var(--opacity-disabled);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-accent-1);
}
