@font-face {
  font-family: "fusion-pixel-8-monospaced";
  src: url("fonts/fusion-pixel-8px-monospaced.woff2") format("woff2");
}

@font-face {
  font-family: "fusion-pixel-8-proportional";
  src: url("fonts/fusion-pixel-8px-proportional.woff2") format("woff2");
}

@font-face {
  font-family: "fusion-pixel-10-monospaced";
  src: url("fonts/fusion-pixel-10px-monospaced.woff2") format("woff2");
}

@font-face {
  font-family: "fusion-pixel-10-proportional";
  src: url("fonts/fusion-pixel-10px-proportional.woff2") format("woff2");
}

@font-face {
  font-family: "fusion-pixel-12-monospaced";
  src: url("fonts/fusion-pixel-12px-monospaced.woff2") format("woff2");
}

@font-face {
  font-family: "fusion-pixel-12-proportional";
  src: url("fonts/fusion-pixel-12px-proportional.woff2") format("woff2");
}

:root {
  --color-accent-0: rgba(9, 50, 97, 1);
  --color-accent-1: rgba(21, 151, 242, 1);

  --color-background-0: #01051b;
  --color-background-1: #060f24;
  --color-background-2: #0e1b35;

  --color-border: rgba(54, 72, 116, 1);

  --color-content-0: #a0afc0;
  --color-content-1: rgba(120, 144, 195, 1);
  --color-content-2: #dee0ed;

  --color-danger: #ff2244;
  --filter-hover: brightness(1.15);

  --font: "fusion-pixel-12-monospaced", monospace;

  --font-size-1: 1.4rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1rem;
  --font-size-4: 0.75rem;

  --line-height: 1.4;

  --opacity-disabled: 0.4;

  --radius: 0.25rem;

  --size-0: 7.5rem;
  --size-1: 12rem;

  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;

  --width-border: 0.0625rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: var(--spacing-1);
  width: var(--spacing-1);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-content-1);
}

::-webkit-scrollbar-track {
  background: var(--color-background-1);
}

::placeholder {
  color: var(--color-content-0);
}

:focus {
  border-color: var(--color-accent-1);
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

button {
  align-items: center;
  background: var(--color-background-2);
  border: var(--width-border) solid var(--color-border);
  border-radius: var(--radius);
  color: var(--color-content-1);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: center;
  padding: var(--spacing-0);
}

button:disabled {
  cursor: default;
  opacity: var(--opacity-disabled);
}

button:hover {
  filter: var(--filter-hover);
}

code {
  font-family: inherit;
}

h1 {
  align-items: center;
  color: var(--color-content-2);
  display: flex;
  font-size: var(--font-size-1);
  gap: var(--spacing-0);
}

h2 {
  align-items: center;
  color: var(--color-content-2);
  display: flex;
  font-size: var(--font-size-2);
  gap: var(--spacing-0);
}

h3 {
  align-items: center;
  color: var(--color-content-2);
  display: flex;
  font-size: var(--font-size-3);
  gap: var(--spacing-0);
}

header {
  align-items: center;
  background: var(--color-background-1);
  border-bottom: var(--width-border) solid var(--color-border);
  display: flex;
  gap: var(--spacing-0);
  padding: var(--spacing-0);
}

html {
  background: var(--color-background-0);
  color: var(--color-content-0);
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  /* 决定 1rem 有多大 */
  font-size: min(5vw, 18px);
  height: 100%;
  height: 100dvh;
  line-height: var(--line-height);
  /* 禁止过界回弹与 PWA 下拉刷新 */
  overscroll-behavior: none;
  scrollbar-color: var(--color-border) var(--color-background-1);
  /* 禁用双指缩放 */
  touch-action: pan-x pan-y;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background: var(--color-background-2);
  border: var(--width-border) solid var(--color-border);
  border-radius: var(--radius);
  color: var(--color-content-2);
  font-family: inherit;
  font-size: inherit;
  padding: var(--spacing-0);
}